:root {
  --red: #f54e4e;
  --green: #4aec8c;
}

body {
  background-color: #121530;
  color: #eee;
}

main {
  /* background-color: #121530; */
  padding-top: 50px;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}
